body {
    background-color: #486860;
    font: normal 15pt Arial;
}

div {
    text-align: center;
}

header {
    color: #DEBEC3;
    text-align: center;
}

section {
    background: #debec375;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.801)
}

footer {
    color: #DEBEC3;
    text-align: center;
    font-style: italic;
}